.benchmark {
  font-variant-numeric: tabular-nums;
  position: absolute;
  top: 1rem;
  right: 3rem;
  text-align: right;

  .current {
    font-size: 4rem;
    
    &.running {
      opacity: .6;
    }
  }

  .benchmark-list {
    font-size: 1.5rem;
    opacity: .6;
  }
}
